#mynetwork {
    width: 60%;
    height: 800px;
    border: 1px solid lightgray;
    float: left;
}

#editPanel {
    width: 38%;
    height: 800px;
    float: right;
    padding: 10px;
    border: 1px solid lightgray;
    display: none;
}