/* Reset and Global Styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #e6e6e6; /* Background color for the entire body */
}

/* Flexbox Container */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Use viewport height to ensure full page coverage */
}

/* Main Content */
.content {
    display: flex;
    flex-direction: row;
    flex: 1; /* Flex 1 will ensure that content takes all available space */
}

/* Sidebar Styles */
.sidebar {
    flex: 1; /* Takes up 1 part of the space */
    padding: 20px;
    background-color: #f3f3f3;
    border-right: 1px solid #ccc;
}

/* Graph Container Styles */
#graph-container {
    flex: 2; /* This will take twice the space as the sidebar */
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: hidden; /* Adjust based on your design */
}

#graph-container > #graph {
    flex-grow: 1; /* This will make sure the canvas grows to the available space */
}

#graph-container canvas {
    flex-grow: 1; /* Allow canvas to fill the space in the container */
    width: 100%; /* Full width of its container */
    height: 100%; /* Full height of its container */
    /* Note: Height 100% works if the parent has a defined height which we set above */
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Loading Indicator */
#loadingIndicator {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1000; /* Ensures it appears above other content */
}


/* Button Styles */
button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Responsive adjustments */
@media only screen and (max-width: 768px) {
    .content {
        flex-direction: column; /* Stack sidebar and graph on top of each other on smaller screens */
    }

    .sidebar,
    #graph-container {
        flex: none;
        width: 100%; /* Full width on smaller screens */
    }
}

@media only screen and (max-width: 480px) {
    footer {
        padding: 5px;
    }
}

/* Modal styles */
#user-message-modal .modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#user-message-modal .close-button {
    cursor: pointer;
}

/* Additional Styles */
/* Add any additional styles below */
