<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speak, Transcribe, Translate, Connect</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> <!-- Link to local styles.css -->
    <script src="https://unpkg.com/vis-network@7.10.2/standalone/umd/vis-network.min.js"></script>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>
