<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vis.js Graph</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
</head>
<body>
<style>
    #mynetwork {
        width: 100%;
        height: 800px;
        border: 1px solid lightgray;
    }
</style>


<div id="mynetwork"></div>

<script type="text/javascript">
    var nodes = new vis.DataSet({{ data.nodes | tojson | safe }});
    // var nodes_data = {{ data.nodes | tojson | safe }};
    // nodes_data.forEach(node => {
    // let length = node.label.length;
    // node.size = 10 + length * 5;  // Basic scaling factor, adjust as needed
    // if (length > 30) {
    //     node.font = { size: 12 };  // Adjust font size for very long labels, adjust as needed
    //     }
    // });
    //
    // var nodes = new vis.DataSet(nodes_data);
    var edges = new vis.DataSet({{ data.edges | tojson | safe }});



    var container = document.getElementById('mynetwork');
    var data = {
        nodes: nodes,
        edges: edges
    };
        var options = {
        manipulation: {
            enabled: true,
            initiallyActive: true,
            editNode: function (nodeData, callback) {
                // Show a text field pop-up to edit the node
                var newLabel = prompt("Enter new label:", nodeData.label);
                if (newLabel !== null) {
                    nodeData.label = newLabel;
                    callback(nodeData);
                } else {
                    callback(null); // Cancel the edit
                }
            },
            addNode: function (nodeData, callback) {
                nodeData.label = "New Node";
                callback(nodeData);
            }
        }
    };
    var network = new vis.Network(container, data, options);
</script>

</body>
</html>
