{% extends "base_template.html" %}

{% block content %}
    <!-- Impressum Section -->
    <div class="container">
        <h2>Impressum</h2>
        <p>Responsible for this website:</p>
        <p>Kilian Lehn<br>
            Hutweg 18<br>
            79110 Freiburg</p>
        <p>Email: <a href="mailto:kilian@familylehn.com">kilian@familylehn.com</a></p>
        <p>This app is without commercial interest as of now and does not collect data via cookies or other third party
            tool. However, data is saved based on the agents the user creates.</p>
    </div>
{% endblock %}
